<div class="col">
  <div class="row-md-6">
    <% attachment = @document.attachment %>
    <%= render 'attachment_representation', attachment: attachment %>
    | <%= link_to "Download", rails_blob_path(attachment, disposition: "attachment") %>
  </div>

  <div class="row-md-6">
    <p><b>Name: </b><%= @document.name %></p>
    <p><b>Description: </b><%= @document.description %></p>
    <% if @document.is_public? %>
        <% options = { controller: :"/shortener/shortened_urls", action: :show, id: @document.shortened_urls.first.unique_key, only_path: false } %>
        <p><b>Public URL:</b> <%= url_for(options) %></p>
    <% end %>
    <p>
      <%= link_to 'Destroy', @document, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%unless @document.is_public?%>
        <%= link_to 'Share', share_document_path(@document, is_public: true), data: { confirm: 'Your file will be publicly accessible. Are you sure?' }, method: :post %> |
      <%else%>
        <%= link_to 'Stop Sharing', share_document_path(@document, is_public: false), data: { confirm: "Your public url won't be accessible anymore. Are you sure?" }, method: :post %> |
      <%end%>
      <%= link_to 'Back', documents_path %>
    </p>
  </div>
</div>